<div class="form-group">
  <%= label_tag "services[kooragang]" do %>
    <p>Push this list to Kooragang Campaign</p>
    <%= check_box_tag "services[kooragang]", "on", false, {:id => "services_kooragang", :class => "js-toggle-select"} %>
    Yes
  <% end %>
  <div class="js-toggle-input" style="display: none;">
    <%= label_tag "kooragang[campaign_id]", 'Campaign: ' %>
    <%= select_tag "kooragang[campaign_id]", options_for_select(IdentityKooragang::ApplicationHelper.campaigns_for_select) %>
    <br/>
    <%= label_tag "kooragang[phone_type]", 'Phone Type: ' %>
    <%= select_tag "kooragang[phone_type]", options_for_select([['Any', 'all'], ['Mobile', 'mobile'], ['Landline', 'landline']]) %>
    <br/>
    <%= label_tag "kooragang[priority]", 'Priority (lower number is higher priority)' %>
    <%= number_field_tag "kooragang[priority]", 20, min: 1, max: 100 %>
    <br/>
    <%= label_tag "kooragang[include_rsvped_events]", 'Include RSVP\'d Event: ' %>
    <%= check_box_tag "kooragang[include_rsvped_events]", 1 %>
  </div>
  <hr />
</div>
